.playerVS{
    border-radius: 50%;
    background-color: #2563eb;
    color: white;
}

/* .title{
    background-color: #2563eb;
    justify-content: center;
    align-items: center;
    display: flex;
  } */