* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* overflow:scroll;  */
  }
  
  /* Header */
  .header {
    background-color: #f8f8f8;
    /* background-color: #1976d2; */
    /* background-color: #c6c8c1; */
    padding: 10px;
    text-align: start;
    color: rgb(0, 0, 0);
  }
  
  /* Main */
  .main {
    flex-grow: 1;
    padding: 15px;
    background-color: #ffffff;
  }
  
  /* Footer */
  .footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  /* Responsive Design */
  
  /* Petits écrans - Jusqu'à 768px */
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.4rem;
    }
  
    .main {
      padding: 10px;
    }
  
    .footer {
      padding: 5px;
    }
  }
  
  /* Très petits écrans - Jusqu'à 480px */
  @media (max-width: 480px) {
    .header h1 {
      font-size: 1.2rem;
      flex-direction: column;
    }
  
    .main {
      padding: 8px;
      flex-direction: column;
    }
  
    .footer {
      padding: 4px;
      flex-direction: column;
    }
  }
  
  /* Largeur minimum réduite à 200px */
  @media (min-width: 200px) {
    .main {
      padding: 10px 20px;
  flex-direction: column;
    }
    .footer {
      padding: 4px;
    }
  }
  